body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin:0;
    color:white;
    padding:0;
    background: linear-gradient(35deg, rgba(0,0,0,1) 6%, rgba(33,33,33,1) 47%, rgba(18,18,18,1) 92%);
    user-select: none; 
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.meniu
{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:sticky;
}
nav{
    padding: 30px 20px;
}
@media only screen and (max-width: 768px) 
{
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.meniu-item
{
    display: inline-block;
}
li a/*pentru meniu*/
{
    display: block;
    text-align: center;
    padding: 0px 20px;
    color: white;    
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
}
li a:hover
{
    /* background-color:rgb(203, 2, 2); */
    color:white;
    padding: 0px 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}


.main
{
    display: flex;
    gap: 200px;
}
.left h2
{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.asii-image
{
    width: 250px;
    border-radius: 60%;
    margin:0;
    padding: 0;
}

.asii-image:active{
    animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateY(0) rotate(0);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateY(-30px) rotate(-6deg);
	}

	30% {
		transform: translateY(15px) rotate(6deg);
	}

	45% {
		transform: translateY(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateY(9px) rotate(2.4deg);
	}

	75% {
		transform: translateY(-6px) rotate(-1.2deg);
	}
}
.asii-image:hover
{
    opacity: 0.9;
    cursor:pointer;
}
.asii-image:active
{
    opacity: 0.9;
    transform: scale(1.05);/*se mareste*/
}
.upgrade
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 60px;
    border: 1px solid #cb0202;
    padding: 10% 20%;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}
.upgrade:hover
{
    background-color: #212022;
    cursor: pointer;
}
.white-clicker-img
{
    width: 50px;   
}
.mid-section h4
{
    margin: 0;
    margin-bottom: 20%;
    font-size: 20px;
}
.mid-section p
{
    margin: 0;
}
.cost-info
{
    display: flex;
    gap: 5px;
}
.asii-img
{
    width: 20px;
    height: 20px;
    align-items: center;
}
.next-level-info
{
    position: absolute;
    right: -105px ;
    height: 80px;
    width: 100px;
    text-align: center;
    background-color: rgb(203, 2, 2);
    display: none;
}
.upgrade:hover .next-level-info
{
    display: block;
}
.div-text-asii
{
    display: flex;
    position: relative;
}

.paragraph
{
    font-size: larger;
    padding: 10px;
    text-align: center;
}
.lista{
    text-align: center;
}
.h1text
{
    color:rgb(203, 2, 2);
}
ul
{
    list-style-type: none;
}
li h1:hover
{
    color:white;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
  }
  
 